@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto Mono');

body {
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #34495e;
    background-color: #fff;
    margin: 0;
}

h1,
h2,
h3,
h4,
strong {
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    color: #2c3e50;
    letter-spacing: 1.1px;
}

p {
    line-height: 1.6em;
    padding-bottom: 1.2em;
}

.navbar-toggle {
    border-color: #4ec08d;
}

.navbar-toggle .icon-bar {
    border: 1px solid #40b783;
}

.banner h1 {
    font-size: 3.2em;
    font-weight: 300;
    line-height: 1.4em;
    margin: 50px 0px 15px;
}

.banner .btn {
    border: 1px solid #000;
    border-radius: 24px;
    height: 45px;
    margin: 20px 5px 5px 0px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
}

.banner .btn-why {
    background: #4fc08d;
    border-color: #4fc08d;
    width: 180px;
}

.banner .btn-why a {
    color: #fff;
}

.banner .btn-download {
    border-color: #4fc08d;
    background: #fff;
    width: 180px;
}

.banner .btn-download a {
    color: #4fc08d;
}

.banner .btn-git {
    color: #7f8c8d;
    background: #f6f6f6;
    width: 150px;
    border-color: #f6f6f6;
}

.banner .btn-git img {
    height: 30px;
    margin-right: 10px;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
    border: 1px solid transparent;
    background: #fff;
}

.navbar a {
    color: #34495e;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap
}

.footer {
    background: #727f80;
    color: #fff;
    padding: 35px 0;
    margin-top: 50px;
}

.company-icons {
    padding: 10px 0;
}

.company-icons a {
    color: #fff;
    font-size: 20px;
    margin: 20px 5px;
}

.navbar-brand {
    font-size: 2.0em;
    font-weight: 500;
}

.logo-container {
    max-width: 190px;
    margin: auto;
    margin-top: 30px;
}

.specification-container {
    margin: 70px 0px;
}

.specification {
    margin: 30px -15px 0px;
    text-align: center;
    padding: 0px 50px;
}

.specification .specification-content {
    padding: 0px 40px;
    color: #34495e;
    min-height: 180px;
}

.specification-content hr {
    width: 15px;
    border-color: #4ec08d;
    margin-bottom: 0px;
}

.specification h1 {
    color: #42b983;
    font-size: 1.5em;
    font-weight: 400;
    margin-top: 0px;
}

.thumbnail a>img,
.thumbnail>img {
    min-height: 152px;
}

.thumbnail .caption {
    background-color: #f5f4f9;
}

.examples-container {
    background-color: rgb(245, 244, 249);
    padding: 70px 0px;
    margin-top: 40px;
}

.examples-container .heading-area {
    margin-bottom: 40px;
}

.specifica-advantages {
    background: #f5f4f9;
    padding: 30px 0px 0px;
}

.thumbnail {
    box-shadow: 0 10px 40px -10px rgba(0, 0, 0, .3);
    border: 0px;
}

.caption p {
    font-size: 18px;
    margin: 0;
}

pre,
xmp {
    font-size: inherit;
    background-color: transparent;
    color: #000;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border-radius: 4px;
    background: white;
    overflow: hidden;
    overflow-y: scroll;
    box-shadow: 0 10px 40px -10px rgba(0, 0, 0, .3);
    border: 0;
}

@media screen and (max-width: 992px) {
    .logo-container {
        max-width: 150px;
    }

    .banner {
        text-align: center;
    }

    .banner h1 {
        text-align: center;
        font-size: 2em;
        margin: 10px 0 30px 0;
    }

    .banner .btn {
        font-weight: 400;
        font-size: 13px;
    }

    .banner .btn-why {
        width: 160px;
    }

    .banner .btn-download {
        width: 160px;
    }

    .specification {
        padding: 0px;
    }

    .specification .specification-content {
        padding: 0px 20px;
    }
}

@media screen and (max-width: 768px) {
    .specification-content {
        margin: 0 auto;
        width: 300px;
        padding: 0 40px 30px !important;
    }
}

.chartTitle {
    font-size: 16px;
    background: #009788;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    padding: 15px;
    margin: 0 0 30px
}

.chartDiv {
    height: 450px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 30px;
    box-shadow: 0 10px 40px -10px rgba(0, 0, 0, .3);
}

.galery-link {
    color: #42b983;
    font-size: 16px;
}

.st0 {
    fill: #41B783;
}

.st1 {
    fill: #6FC59A;
}

.st2 {
    fill: #94D1B4;
}

.st3 {
    fill: #48AF9B;
}

.st4 {
    fill: #37495D;
}


.side-navbar {
    display: block;
    width: 280px;
    position: fixed;
    overflow: hidden;
    bottom: 0;
    min-height: 100%;
}

.sidebar {
    top: 0;
    left: 0;
    background: #009788;
    min-height: 100vh;
    z-index: 2;
    transition: width .3s, left .3s cubic-bezier(.27, .63, .5, 1.05);
}

.logo {
    color: #fff;
    font-size: 24px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: fixed;
    z-index: 999;
    background-color: #009788;
    width: 200px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    background-color: rgba(0, 0, 0, 1);
}

::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 1)
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0)
}

::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(255, 253, 253)
}

::-webkit-scrollbar-thumb {
    border: 0px solid rgba(0, 0, 0, 1);
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5) !important;
    box-shadow: 0 0 1px rgba(255,255,255,.5) !important;
}

.scrollbar {
    padding-bottom: 30px;
    height: calc(100% - 55px);
    margin-top: 55px;
    overflow-y: scroll;
}

.user-info {
    height: 150px;
    background: url("/images/dashboard_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.menu-list {
    list-style: none;
    padding-left: 0px;
    margin: 0;
}

.menu {
    min-height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    padding-left: 10px;
    box-sizing: border-box;
    float: left;
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.menu .glyphicon {
    color: #fff;
    padding: 15px;
}

.menu a {
    list-style: none;
    text-decoration: none;
    color: #fff;
}

.page-content {
    padding-left: 295px;
}

.user-details {
    background: rgba(0, 0, 0, .3);
    width: 100%;
    display: block;
    height: inherit
}

.user-name {
    text-align: center;
}

.profile-pic {
    background: url("/images/login-cover.jpg");
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: cover;
    position: relative;
}

.user-profile-pic {
    padding: 20px 0px;
    position: relative;
    width: 70px;
    margin: auto;
}

.user-details {
    background: rgba(0, 0, 0, .3);
    width: 100%;
    display: block;
    height: inherit
}

.user-name {
    text-align: center;
}

.profile-pic {
    background: url("/images/login-cover.jpg");
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: cover;
    position: relative;
}

.user-profile-pic {
    padding: 20px 0px;
    position: relative;
    width: 70px;
    margin: auto;
}

.sidebar-icon {
    display: none;
    padding: 9px 10px;
    margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #4ec08d;
    border-radius: 4px;
}

.sidebar-icon .icon-bar {
    border: 1px solid #40b783;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin-top: 4px;
}

.sidebar-open {
    display: block !important;
}

.cover {
    display: none;
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .sidebar-icon {
        display: block;
    }

    .page-content {
        padding-left: 15px;
    }

    .cover {
        background: rgba(0, 0, 0, .1);
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 1;
        top: 0px;
        left: 0px;
        display: block;
    }
}

.sponsor-main-view {
    margin: auto;
    float: none;
}

.donation-paypal {
    width: 150px;
}